<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
  <%= link_to 'Capsens', root_path, class: "navbar-brand" %>

  <div>
    <% if user_signed_in? %>
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete, class: "navbar-brand" %>
    <% else %>
      <%= link_to t('.login'), new_user_session_path, class: "navbar-brand" %>
      <span class="navbar-brand">/</span>
      <%= link_to t('.signup'), new_user_registration_path, class: "navbar-brand" %>
    <% end %>
  </div>
</nav>
