<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project_path(project) %> :
      <%= project.aasm.current_state %>
      (<%= project.percentage_of_completion %>%)
    </li>
  <% end %>
</ul>
