<% if user_signed_in? %>
  <h1>Bienvenue <%= current_user.full_name %></h1>
  <%= link_to t('.dashboard'), users_dashboards_path, class: "btn btn-primary btn-lg" %>
<% else %>  
  <h1>Bienvenue visiteur</h1>
<% end %>
