h1 {
  color: red;
}

.navbar-color {
  background: slateblue;
}

.navbar-text-color {
  color: whitesmoke;
}

.navbar-text-color:hover {
  color: white;
}

.navbar-text-color a {
  color: whitesmoke;
}

.navbar-text-color:hover a {
  color: white;
}
